@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
    font-family: 'Inter', sans-serif !important;
    background-color: #31383F;
    color: #FAFAFA;
}

#repoList {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 20px;
}

.repoDiv {
    margin: 0;
    padding: 20px;
    width: 650px;
    border-radius: 10px;
    background-color: #272C32;
    color: #FAFAFA;
}

.repoDiv a {
    text-decoration: none;
    color: #FAFAFA;
}

.repoDiv h3 { 
    margin: 0;
}

.repoDetails {
    display: flex;
}

.repoDetails * {
    margin: 0 20px 0 0;
}

#source {
    text-decoration: none;
    color: #FAFAFA;
}

#searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 0 20px 0;
}

#searchInput, #userSearchInput {
    border: none;
    font-family: 'Inter', sans-serif;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}

#userSearchInput {
    color: #FAFAFA;
    border: 0;
    background-color: #272727;
    border-bottom: 2px solid #212121;
    font-size: 1.2em;
}

#userSearch {
    position: absolute;
    top: 20px;
    right: 5px;
    display: flex;
}

@media (max-width: 1500px) {
    .repoDiv {
        width: 40vw;
    }
}

@media (max-width: 650px) {
    #repoList {
        grid-template-columns: auto;
    }
    .repoDiv {
        width: 80vw;
    }
}